@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: black;
}

::selection {
  color: yellowgreen;
}

body {
  min-width: 400px;
  background-color: #ececec;
}

html {
  font-size: 62.5%;
}

.nav-link::after {
  content: '';
  width: 0%;
  height: 0.2rem;
  background: #cd1818;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-link:hover::after {
  width: 100%;
}
